.FilterBlock {
    /*margin-top: 2%;*/
    /*border-style: dashed;*/
}

.ListBlock {
    /*padding: 5%;*/
}

.MainPage {
    margin-top: 3%;
}

.AppLayout {
    /*margin-top: 2%;*/
    background-color: #b6b9bf;
    height: 100vh;
}